*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    background:  url(http://upload.wikimedia.org/wikipedia/commons/d/dd/Muybridge_race_horse_animated.gif) no-repeat center center fixed; 
    /* background-image: url('../images/bg.jpg')no-repeat center center fixed;  */
    background-size:contain;
    height: 100%;
    font-size: 17px;
    padding: 10%;
}

header {
    background: #333;
    color:#fff;
    padding: 3px;
    border-bottom: 4px #000 solid;
    margin-bottom: 10px;
}

h1, h2 {
    width: 50%;
    margin: auto;
    padding:20px;
    font-weight: bolder;
    text-align: center;
   
}

h2 {
    font-size: xx-large;
    background-color:#fff;
    color: #333;
    animation-name: instructions;
    animation-duration: 18s;
    padding:5px;
}

#question {
    background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	padding:16px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    padding-left: 50px;
    
}

#question:hover {
	background-color:#5cbf2a;
}

#question:active {
	position:relative;
	top:1px;
}

button {
    background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

button:hover {
	background-color:#5cbf2a;
}

button:active {
	position:relative;
	top:1px;
}

#answerBtn {
    background:transparent;
}

/* .btn {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.btn:hover {
	background-color:#5cbf2a;
}
.btn:active {
	position:relative;
	top:1px;
} */
 
#startBtn {
    -webkit-transition-duration: 0.4s; /* Safari */
    border-radius:28px;
    transition-duration: 0.4s;
    background-color: #9ea89e; 
    font-size:23px;
	padding:16px 31px;
}
      
#startBtn:hover {
    background-color:#5cbf2a;
    color: white;
}

#nextBtn {
    -webkit-transition-duration: 0.4s; /* Safari */
    border-radius:28px;
    transition-duration: 0.4s;
    background-color: #9ea89e; ; 
    font-size:23px;
	padding:16px 31px;
  }
  
  #nextBtn:hover {
    background-color:#5cbf2a;
    color: white;
  }

/* #btnDiv {
    margin-top: 33%;
} */

  #score {
      color: #9b0b3b;
      font-size: 50px;
      font-weight: bolder;
      line-height: 1.5em;
  }

  #seconds {
    background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	padding:16px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin: 50px;
    margin-left: 40%;
}

#seconds:hover {
	background-color:#5cbf2a;
}

#seconds:active {
	position:relative;
	top:1px;
}

@keyframes instructions {
    from {
        opacity: 1;
      }
      to {
        opacity: 0.0;
        color:transparent;
    }
}

